<h3 class="text-center py-3">Patterns</h3>

<div class="row">
    <div class="col button pt-3 m-2" (contextmenu)="$event.preventDefault()"
        (touchstart)="buttonPress($event, patterns[0])" (touchend)="buttonRelease($event, '')"
        (mousedown)="buttonPress($event, patterns[0])" (mouseup)="buttonRelease($event, '')">
        <p class="text-center no-select">{{ patterns[0] }}</p>
    </div>
    <div class="col button pt-3 m-2" (contextmenu)="$event.preventDefault()"
        (touchstart)="buttonPress($event,patterns[1])" (touchend)="buttonRelease($event, '')"
        (mousedown)="buttonPress($event,patterns[1])" (mouseup)="buttonRelease($event, '')"
        >
        <p class="text-center no-select">{{ patterns[1] }}</p>
    </div>
    <div class="col button pt-3 m-2" (contextmenu)="$event.preventDefault()"
        (touchstart)="buttonPress($event,patterns[2])" (touchend)="buttonRelease($event, '')"
        (mousedown)="buttonPress($event,patterns[2])" (mouseup)="buttonRelease($event, '')"
        >
        <p class="text-center no-select">{{ patterns[2] }}</p>
    </div>
</div>
<div class="row">
    <div class="col button pt-3 m-2" (contextmenu)="$event.preventDefault()"
        (touchstart)="buttonPress($event,patterns[3])" (touchend)="buttonRelease($event, '')"
        (mousedown)="buttonPress($event,patterns[3])" (mouseup)="buttonRelease($event, '')"
        >
        <p class="text-center no-select">{{ patterns[3] }}</p>
    </div>
    <div class="col button pt-3 m-2" (contextmenu)="$event.preventDefault()"
        (touchstart)="buttonPress($event,patterns[4])" (touchend)="buttonRelease($event, '')"
        (mousedown)="buttonPress($event,patterns[4])" (mouseup)="buttonRelease($event, '')"
        >
        <p class="text-center no-select">{{ patterns[4] }}</p>
    </div>
    <div class="col button pt-3 m-2" (contextmenu)="$event.preventDefault()"
        (touchstart)="buttonPress($event,patterns[5])" (touchend)="buttonRelease($event, '')"
        (mousedown)="buttonPress($event,patterns[5])" (mouseup)="buttonRelease($event, '')"
        >
        <p class="text-center no-select">{{ patterns[5] }}</p>
    </div>
</div>

<div class="row">
    <div class="col button pt-3 m-2" (contextmenu)="$event.preventDefault()"
        (touchstart)="buttonPress($event,patterns[6])" (touchend)="buttonRelease($event, '')"
        (mousedown)="buttonPress($event,patterns[6])" (mouseup)="buttonRelease($event, '')"
        >
        <p class="text-center no-select">{{ patterns[6] }}</p>
    </div>
    <div class="col button pt-3 m-2" (contextmenu)="$event.preventDefault()"
        (touchstart)="buttonPress($event,patterns[7])" (touchend)="buttonRelease($event, '')"
        (mousedown)="buttonPress($event,patterns[7])" (mouseup)="buttonRelease($event, '')"
        >
        <p class="text-center no-select">{{ patterns[7] }}</p>
    </div>
    <div class="col button pt-3 m-2" (contextmenu)="$event.preventDefault()"
        (touchstart)="buttonPress($event,patterns[8])" (touchend)="buttonRelease($event, '')"
        (mousedown)="buttonPress($event,patterns[8])" (mouseup)="buttonRelease($event, '')"
        >
        <p class="text-center no-select">{{ patterns[8] }}</p>
    </div>
</div>

<div class="row mt-5 m-2">
    <input type="text" class="form-control" placeholder="Pattern Name" (keydown.enter)="savePattern()"
        [(ngModel)]="patternName">
</div>