<div class="row ">
  <div class="col text-center navbg pt-3" (click)="menuSelect('pressure')">
    <img src="assets/icons/icon-pressure.png" alt="light">
    <p class="label">Pressure</p>
  </div>
  <div class="vr p-0"></div>
  <div class="col text-center navbg pt-3"  (click)="menuSelect('movement')">
    <img src="assets/icons/icon-security.png" alt="pressure">
    <p class="label">Movement</p>
  </div>
  <div class="vr p-0"></div>
  <div class="col text-center navbg pt-3"  (click)="menuSelect('light')">
    <img src="assets/icons/icon-light.png" alt="security">
    <p class="label">Lights</p>
  </div>
</div>