<div class="container">
  <div class="row pt-4 navbg">
    <div class="col text-center">
      <img src="assets/icons/icon-light.png" alt="light">
      <p>Lights</p>
    </div>
    <div class="vr p-0"></div>
    <div class="col text-center">
      <img src="assets/icons/icon-pressure.png" alt="pressure">
      <p>Pressure</p>
    </div>
    <div class="vr p-0"></div>
    <div class="col text-center">
      <img src="assets/icons/icon-security.png" alt="security">
      <p>Monitor</p>
    </div>
  </div>
</div>