<div class="text-center pt-3">
  <div class="row m-2">
    <div class="col">
      <div class="row pt-3 button"
        (touchstart)="buttonPress($event,'raise', 'Bow')" 
        (touchend)="buttonPress($event,'hold','Bow')"
        (contextmenu)="$event.preventDefault()"><p class="text-center no-select">Bow up</p>
      </div>
      <div class="row pt-3 button"
        (touchstart)="buttonPress($event,'lower', 'Bow')" 
        (touchend)="buttonPress($event, 'hold', 'Bow')"
        (contextmenu)="$event.preventDefault()"><p class="text-center no-select">Bow down</p>
      </div>
    </div>
  </div>
  <div class="row py-3">
    <div class="col">
      <div class="row pt-5 button"
        (touchstart)="buttonPress($event,'raise', 'Port')" 
        (touchend)="buttonPress($event, 'hold', 'Port')"
        (contextmenu)="$event.preventDefault()"><p class="text-center no-select">Port up</p>
      </div>
      <div class="row pt-5 button"
        (touchstart)="buttonPress($event, 'lower', 'Port')" 
        (touchend)="buttonPress($event, 'hold', 'Port')"
        (contextmenu)="$event.preventDefault()"><p class="text-center no-select">Port down</p>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col">
          <div class="row pt-3 button"
            (touchstart)="buttonPress($event,'raise', 'BowPort')" 
            (touchend)="buttonPress($event, 'hold', 'BowPort')"
            (contextmenu)="$event.preventDefault()"><p class="text-center no-select">up</p>
          </div>
          <div class="row pt-3 button"
            (touchstart)="buttonPress($event, 'lower', 'BowPort')" 
            (touchend)="buttonPress($event, 'hold', 'BowPort')"
            (contextmenu)="$event.preventDefault()"><p class="text-center no-select">down</p>
          </div>
        </div>
        <div class="col">
          <div class="row pt-3 button"
            (touchstart)="buttonPress($event,'raise', 'BowStarboard')" 
            (touchend)="buttonPress($event, 'hold', 'BowStarboard')"
            (contextmenu)="$event.preventDefault()"><p class="text-center no-select">up</p>
          </div>
          <div class="row pt-3 button"
            (touchstart)="buttonPress($event, 'lower', 'BowStarboard')" 
            (touchend)="buttonPress($event, 'hold', 'BowStarboard')"
            (contextmenu)="$event.preventDefault()"><p class="text-center no-select">down</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row pt-3 button"
            (touchstart)="buttonPress($event,'raise', 'SternPort')" 
            (touchend)="buttonPress($event, 'hold', 'SternPort')"
            (contextmenu)="$event.preventDefault()"><p class="text-center no-select">up</p>
          </div>
          <div class="row pt-3 button"
            (touchstart)="buttonPress($event, 'lower', 'SternPort')" 
            (touchend)="buttonPress($event, 'hold', 'SternPort')"
            (contextmenu)="$event.preventDefault()"><p class="text-center no-select">down</p>
          </div>
        </div>
        <div class="col">
          <div class="row pt-3 button"
            (touchstart)="buttonPress($event,'raise', 'SternStarboard')" 
            (touchend)="buttonPress($event, 'hold', 'SternStarboard')"
            (contextmenu)="$event.preventDefault()"><p class="text-center no-select">up</p>
          </div>
          <div class="row pt-3 button"
            (touchstart)="buttonPress($event, 'lower', 'SternStarboard')" 
            (touchend)="buttonPress($event, 'hold', 'SternStarboard')"
            (contextmenu)="$event.preventDefault()"><p class="text-center no-select">down</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row pt-5 button"
        (touchstart)="buttonPress($event,'raise', 'Starboard')" 
        (touchend)="buttonPress($event, 'hold', 'Starboard')"
        (contextmenu)="$event.preventDefault()"><p class="text-center no-select">Star up</p>
      </div>
      <div class="row pt-5 button"
        (touchstart)="buttonPress($event, 'lower', 'Starboard')" 
        (touchend)="buttonPress($event, 'hold', 'Starboard')"
        (contextmenu)="$event.preventDefault()"><p class="text-center no-select">Star down</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row pt-3 button"
        (touchstart)="buttonPress($event,'raise', 'Stern')" 
        (touchend)="buttonPress($event, 'hold', 'Stern')"
        (contextmenu)="$event.preventDefault()"><p class="text-center no-select">Stern up</p>
      </div>
      <div class="row pt-3 button"
        (touchstart)="buttonPress($event, 'lower', 'Stern')" 
        (touchend)="buttonPress($event, 'hold', 'Stern')"
        (contextmenu)="$event.preventDefault()"><p class="text-center no-select">Stern down</p>
      </div>
    </div>
  </div>
</div>