.list-group-item {
  border: none;
  background-color: transparent;
  font-size: 10px;
}

.card {
  --bs-card-bg: transparent;
}

.pressure-left {
  color: var(--bs-tertiary-bg);
  padding-left: 20px;
}

.pressure-right {
  color: var(--bs-tertiary-bg);
  padding-right: 20px;
}

.control-button {
  font-size: 12px;
}