<p class="text-center py-2">Bow</p>
<div class="row row-cols-2 row-cols-sm-2 g-4">
  <div class="col">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Ballast
          <span class="pressure-left">{{ bowPortBallastValue }}</span></li>
        <li class="list-group-item">
          Piston
          <span class="pressure-left">{{ bowPortPistonValue }}</span>
        </li>
        <li class="list-group-item">
          Ballast In
          <span class="pressure-left">{{ bowPortValveBallastIn }}</span>
        </li>
        <li class="list-group-item">
          Ballast Out
          <span class="pressure-left">{{ bowPortValveBallastOut }}</span>
        </li>
        <li class="list-group-item">
          Release
          <span class="pressure-left">{{ bowPortValveRelease }}</span>
        </li>
      </ul>
  </div>
  <div class="col">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Ballast
        <span class="pressure-left">{{ bowStarboardBallastValue }}</span></li>
      <li class="list-group-item">
        Piston
        <span class="pressure-left">{{ bowStarboardPistonValue }}</span>
      </li>
      <li class="list-group-item">
        Ballast In
        <span class="pressure-left">{{ bowStarboardValveBallastIn }}</span>
      </li>
      <li class="list-group-item">
        Ballast Out
        <span class="pressure-left">{{ bowStarboardValveBallastOut }}</span>
      </li>
      <li class="list-group-item">
        Release
        <span class="pressure-left">{{ bowStarboardValveRelease }}</span>
      </li>
    </ul>
    </div>
  </div>
  <hr class="pt-5" />
  <div class="row row-cols-2 row-cols-sm-2 g-4">
    <div class="col">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Ballast
          <span class="pressure-left">{{ sternPortBallastValue }}</span></li>
        <li class="list-group-item">
          Piston
          <span class="pressure-left">{{ sternPortPistonValue }}</span>
        </li>
        <li class="list-group-item">
          Ballast In
          <span class="pressure-left">{{ sternPortValveBallastIn }}</span>
        </li>
        <li class="list-group-item">
          Ballast Out
          <span class="pressure-left">{{ sternPortValveBallastOut }}</span>
        </li>
        <li class="list-group-item">
          Release
          <span class="pressure-left">{{ sternPortValveRelease }}</span>
        </li>
      </ul>
  </div>
  <div class="col">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Ballast
        <span class="pressure-left">{{ sternStarboardBallastValue }}</span></li>
      <li class="list-group-item">
        Piston
        <span class="pressure-left">{{ sternStarboardPistonValue }}</span>
      </li>
      <li class="list-group-item">
        Ballast In
        <span class="pressure-left">{{ sternStarboardValveBallastIn }}</span>
      </li>
      <li class="list-group-item">
        Ballast Out
        <span class="pressure-left">{{ sternStarboardValveBallastOut }}</span>
      </li>
      <li class="list-group-item">
        Release
        <span class="pressure-left">{{ sternStarboardValveRelease }}</span>
      </li>
    </ul>
  </div>
</div>
<p class="text-center py-2">Stern</p> 