<p class="text-center py-2">Bow</p>
<div class="row row-cols-2 row-cols-sm-2 g-4">
  <div class="col">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><div class="btn btn-secondary">Ballast</div><span class="pressure-left">100</span></li>
        <li class="list-group-item"><div class="btn btn-secondary">Jack</div><span class="pressure-left">100</span></li>
        <li class="list-group-item"><div class="btn btn-secondary">Vent</div></li>
      </ul>
  </div>
  <div class="col">
      <ul class="list-group list-group-flush text-end">
        <li class="list-group-item"><span class="pressure-right">100</span>
          <div class="btn btn-secondary">Ballast</div></li>
        <li class="list-group-item"><span class="pressure-right">100</span><div class="btn btn-secondary">Jack</div></li>
        <li class="list-group-item"><div class="btn btn-secondary">Vent</div></li>
      </ul>
    </div>
  </div>
  <hr class="pt-5" />
  <div class="row row-cols-2 row-cols-sm-2 g-4">
    <div class="col">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><div class="btn btn-secondary">Ballast</div><span class="pressure-left">100</span></li>
        <li class="list-group-item"><div class="btn btn-secondary">Jack</div><span class="pressure-left">100</span></li>
        <li class="list-group-item"><div class="btn btn-secondary">Vent</div></li>
      </ul>
  </div>
  <div class="col">
    <ul class="list-group list-group-flush text-end">
      <li class="list-group-item"><span class="pressure-right">100</span>
        <div class="btn btn-secondary">Ballast</div></li>
      <li class="list-group-item"><span class="pressure-right">100</span><div class="btn btn-secondary">Jack</div></li>
      <li class="list-group-item"><div class="btn btn-secondary">Vent</div></li>
    </ul>
  </div>
</div>
<p class="text-center py-2">Aft</p> 