.info {
  position: absolute;
  left: 1em;
  top: 1em;
  padding: 1em;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: xx-small;
}
.info::after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.7);
  top: 0;
  left: -10px;
}
